{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{% block title %} {% endblock title %}| 社内備品管理システム</title>
    <link rel="stylesheet" type="text/css" href="{% static 'supplies/css/style.css' %}">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #006633;">
      {% if request.user.is_authenticated %} <!--ユーザーがログインしているか判定-->
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}"><b>社内備品<br>管理システム</b></a>
          <div class="collapse navbar-collapse" id="navbarScroll">
            
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

              <!--sase_記述start-->
              {% if not request.user.username|slice:":5" == "admin" %}
                <!-- 利用者のみ表示 -->
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'rental-list'%}">レンタル一覧</a>
                </li>
              {% else %}
                <!-- 管理者のみ表示 -->
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'list-supplies' %}">備品一覧</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'create-supplies' %}">備品登録</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'lend-supplies' %}">貸出一覧</a>
                </li>  
              {% endif %}

              <!--sase_記述end-->
              <!--<a class="nav-link" href="{% url 'accounts:logout' %}">ログアウト</a>-->
            </li>
      {% else %}
      <div class="container-fluid">
        <b>社内備品<br>管理システム</b>
        <div class="collapse navbar-collapse" id="navbarScroll">

            <ul class="navbar-nav ms-auto">
              {% if 'signup' in request.path %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'accounts:login' %}">ログイン</a>
              </li>
              {% elif 'login' in request.path %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'accounts:signup' %}">サインアップ</a>
              </li>
              {% endif %}
          </ul>
      {% endif %}
          </div>
        </div>
      </nav>

    <div class="p-4">
        <h1>{% block h1 %} {% endblock %}</h1>
        {% block content %} {% endblock content %}
    </div>
</body>
</html>