{% extends 'base.html' %}

{% block title %} 備品一覧 {% endblock %}
{% block h1 %} 備品一覧 {% endblock %}

{% block content %}
<form action="" method="get">
    <input name="query" value="{{ request.GET.query}}"type="text" />
    <button type="submit">🔍</button>
</form>
<div class="row">
  <div class="col-9">
    {% for item in object_list %}
      <div class="p-4 m-4 bg-light border border-success rounded">
        <h2 class="text-success">{{ item.title }}</h2>
        {% if item.thumbnail %}
          <img src="{{ item.thumbnail.url }}" class="img-thumbnail" alt="Thumbnail">
        {% else %}
          <p>---画像準備中---</p>
        {% endif %}

        <h6>カテゴリ：{{ item.category }}</h6>
        <div class="mt-3">
          <a href="{% url 'user_detail-supplies' item.pk %}">詳細へ</a>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="col-3">
    <h2>評価TOP2</h2>
    {% for ranking_supplies in page_obj %}
      <div class="p-4 m-4 bg-light border border-success rounded">
        <h3 class="text-success h5">{{ ranking_supplies.title }}</h3>
        {% if ranking_supplies.thumbnail %}
          <img src="{{ ranking_supplies.thumbnail.url }}" class="img-thumbnail"/>
        {% else %}
         <p>---画像準備中---</p>
        {% endif %}
        <h6>評価：{{ ranking_supplies.avg_rating|floatformat:2 }}点</h6>
        <a href="{% url 'user_detail-supplies' ranking_supplies.id %}">詳細を見る</a>
      </div>
    {% endfor %}
    {% include 'supplies/components/pagination.html' %}
  </div>
</div>
{% endblock %}