{% extends 'base.html' %}

{% block title %} 備品一覧 {% endblock %}
{% block h1 %} 備品一覧 {% endblock %}

{% block content %}

<form action="" method="get">
    <input name="query" value="{{ request.GET.query}}"type="text" />
    <button type="submit">🔍</button>
</form>
{% for item in object_list %}
<div class="p-4 m-4 bg-light border border-success rounded">
<h2 class="text-success">{{ item.title }}</h2>
<h6>タグ：{{ item.tag }}</h6>
<!-- <h6 class="text-success">{{ item.貸出数 }}/{{ item.備品の総個数 }}</h6> -->
<h6>貸出数/備品の総個数</h6>
<h6>カテゴリ：{{ item.category }}</h6>
<div class="mt-3">
    <a href="{% url 'detail-supplies' item.pk %}">詳細へ</a>
</div>
</div>
{% endfor %}

{% endblock content %}



